:root {
    --detail: #FF4B4B;
    --bg-detail: #FFF0F0;
    --secondary-text: #4B5563;
    --hover-bg: rgba(75 85 99 / 7%);

    --instragram-primary: var(--detail);
    --bg-instragram: var(--bg-detail);

    --facebook-primary: #1877F2;
    --bg-facebook: #EFF6FF;

    --linkedin-primary: #0A66C2;
    --bg-linkedin: #EFF6FF;
}

* {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
    letter-spacing: 0.025px;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    color: unset;
    box-sizing: border-box;
}

body, #root {
    background-color: rgb(249 250 251);
    font-size: 15px;
    width: 100vw;
    height: 100vh;
}

h2 {
    font-size: 1.1rem;
    font-weight: 400;
}


/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-between;

    height: 8%;
    width: 100vw;

    box-shadow: 0 0 1px 0 black;
    border-bottom: 1px grey;
    background-color: white;
}

.navbar-item {
    border-radius: 5px;
    padding: 0.4rem;

    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.navbar-choice {
    width: 25%;
    padding: 0.5rem 0.2rem;
}

.navbar-choice:hover {
    cursor: pointer;
}

.selected {
    color: var(--detail);
    background-color: var(--bg-detail);
}

.unselected {
    color: var(--secondary-text);
    transition: 0.2s ease;
}

.unselected:hover {
    color: black;
    background-color: var(--hover-bg);
}

.background-red {
    background-color: var(--detail);
}

.background-white {
    background-color: white;
}

.color-white{
    color: white;
}

.left > div > i {
    font-size: 1.5rem;
}

.right > a > i {
    font-size: 1.2rem;
}

.left {
    display: flex;
    gap: 2%;
    align-items: center;

    width: 50%;
    margin-left: 5%;
}

.left > h1{
    font-size: 1.6rem;
    font-weight: 500;
}

.right {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    align-items: center;

    width: 50%;
    margin-right: 5%;
}


/*Social*/
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.container{
    width: 70vw;
}

.charts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.chart-container {
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1px 3px 1px rgb(128 128 128 / 0.30);
    transition: box-shadow 0.2s ease
}

.chart-container:hover {
    box-shadow: 0 2px 3px 1px rgb(128 128 128 / 0.50);
}

.chart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-img {
    width: 80%;
    max-width: 100%;
    display: blocK;
}

.social-name {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 8rem;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.Instagram {
    background-color: var(--bg-instragram);
    color: var(--instragram-primary);
}

.Facebook {
    background-color: var(--bg-facebook);
    color: var(--facebook-primary);
}

.Linkedin {
    background-color: var(--bg-linkedin);
    color: var(--linkedin-primary);
}





/*Scrollbar*/
body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb { /* Foreground */
  background: rgb(75 85 99 / 0.30);
  border-radius: 999px;
  border: 3px solid transparent;
  background-clip: padding-box;
}
::-webkit-scrollbar-track { /* Background */
  background: transparent;
}