<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>Amministrazione</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
        <link href="{{ url_for('static', filename='NavBar.jsx')}}"/>
        <script type="importmap">
            {
                "imports": {
                    "react": "https://esm.sh/react@19",
                    "react-dom/client": "https://esm.sh/react-dom@19/client"
                }
            }
        </script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script src="https://kit.fontawesome.com/18cb25cb8a.js" crossorigin="anonymous"></script>
    </head>
    <body id="root">

        <script data-type="module" type="text/babel">
            import React from "react"
	        import {createRoot} from "react-dom/client";

            function NavItem(props) {
                return (
                    <a class={"navbar-item navbar-choice " + (props.selected ? "selected" : "unselected")} href="#">
                        {props.icon}
                        <h2>{props.title}</h2>
                    </a>
                );
            }

            function NavBar(props) {
                let title = "";
                switch (props.selected){
                    case 0: title = "Social Media";
                        break;
                    case 1: title = "Rassegna stampa";
                        break;
                    case 2: title = "Amministrazione";
                        break;
                    default: throw new Error("Prop non valide");
                }

                let selected = [false, false, false];
                selected[props.selected] = true;

                return (
                    <div class="navbar">
                        <div class="left">
                            <div class="background-red navbar-item"><i class="fa-solid fa-chart-column color-white"></i></div>
                            <h1>{title}</h1>
                        </div>

                        <div class="right">
                            <NavItem title="Social Media" selected={selected[0]} icon={<i class="fa-solid fa-chart-column"></i>}/>
                            <NavItem title="Rassegna stampa" selected={selected[1]} icon={<i class="fa-regular fa-file-lines"></i>}/>
                            <NavItem title="Amministrazione" selected={selected[2]} icon={<i class="fa-solid fa-plus"></i>}/>
                        </div>
                    </div>
                )
            }

            const root = createRoot(document.getElementById("root"));
            root.render(<NavBar selected={2}/>);
        </script>
    </body>
</html>