<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <script type="importmap">
        {
            "imports": {
                "react": "https://esm.sh/react@19?dev",
                "react-dom": "https://esm.sh/react-dom@19?dev",
                "react-dom/client": "https://esm.sh/react-dom@19/client?dev",
                "react-router-dom": "https://esm.sh/react-router-dom@7?external=react",
                "react-router": "https://esm.sh/react-router@7?external=react",
                "recharts": "https://esm.sh/recharts@2?external=react,react-dom"
            }
        }
    </script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://kit.fontawesome.com/18cb25cb8a.js" crossorigin="anonymous"></script>
</head>
<body class="bg-main">
<div id="root" class="bg-main"></div>
<script data-type="module" type="text/babel">
    import React from "react"
    import {createRoot} from "react-dom/client";
    import {BrowserRouter, Routes, Route, Link, useLocation} from "react-router-dom";
    import { Line, LineChart, ResponsiveContainer, CartesianGrid, Legend, XAxis, YAxis, Tooltip, Brush } from 'recharts';

    const seiMesiFa = () => {
        return Date.now() - (6 * 30 * 24 * 60 * 60 * 1000);
    }

    function useIsMobile() {
        const [isMobile, setIsMobile] = React.useState(() => {
            if (typeof window === "undefined") return false;
            return window.innerWidth <= 768;
        });

        React.useEffect(() => {
            function handleResize() {
              setIsMobile(window.innerWidth <= 768);
            }

            window.addEventListener("resize", handleResize);

            handleResize();

            return () => {
              window.removeEventListener("resize", handleResize);
            };
          }, []);

          return isMobile;
    }

    function NavBar() {
        const PAGE_TITLES = {
            "/": "Rassegna stampa",
            "/social": "Social Media",
            "/admin": "Amministrazione"
        };

        function NavItem(props) {
            const title = PAGE_TITLES[useLocation().pathname];
            document.title = title;

            return (
                <Link
                    className={"width-fit flex-center transition rounded pointer gap-1 padding-05-1 " + ((title === props.label) ? "selected" : "unselected")}
                    to={props.url}>
                    {props.icon}
                    <h2>{props.name}</h2>
                </Link>
            );
        }

        return (
            <nav className="navbar flex shadow width-100">
                <img src="static/images/logo.png" alt="UNIMORE"/>

                <div className="flex-center gap-2">
                    <NavItem name={<>Social <span id="media">media</span></>} label="Social Media" icon={<i className="fa-solid fa-chart-column"></i>}  url="/social"/>
                    <NavItem name={<>Rassegna <span id="stampa">stampa</span></>} label="Rassegna stampa" icon={<i className="fa-regular fa-file-lines"></i>} url="/"/>
                    <NavItem name="Amministrazione" label="Amministrazione" icon={<i className="fa-solid fa-plus"></i>} url="/admin"/>
                </div>
            </nav>
        )
    }

    function Title(props) {
        return (
            <div>
                <h1>{props.title}</h1>
                <h4>{props.subtitle}</h4>
            </div>
        )
    }

    function SocialTitle(props) {
        return (
            <div className={"width-fit flex-center rounded gap-1 padding-05-1 " + (props.social)}>
                <i className={"fa-brands fa-" + (props.social.toLowerCase())}></i>
                <h3>{props.social}</h3>
            </div>
        )
    }

    function SectionTitle(props) {
        return (
            <div className="width-fit flex-center rounded gap-1 padding-05-1">
                <i className={"color-primary " + props.i}></i>
                <h3>{props.title}</h3>
            </div>
        )
    }

    function Filter(props) {
        return (
            <div className={"width-fit flex-center bg-main pointer rounded gap-1 padding-05-1 "+ (props.visibile ? '' : 'disabled-filter')}
                 onClick={() => props.onClick(props.line)}>
                <i className={"fa-solid " + (props.visibile ? 'fa-minus' : 'fa-plus')}></i>
                <p>{props.label}</p>
            </div>
        )
    }

    function Social() {
        function Chart(props) {
            const [data, setData] = React.useState([]);

            const [visibili, setVisibili] = React.useState({
                follower: true,
                interazioni: true,
                visualizzazioni: true
            });

            const labels = {
                follower: 'Follower',
                interazioni: 'Interazioni',
                visualizzazioni: 'Visualizzazioni'
            }

            React.useEffect(() => {
                fetch(`/social/${props.social}`)
                    .then(res => res.json())
                    .then(data => {
                        setData(data.map(d => ({
                            ...d,
                            giorno: new Date(d.giorno).getTime()
                        })));
                    })
                    .catch(err => console.error('Errore nel caricamento dei dati di ' + props.social + ': ' + err))
            }, [props.social]);

            const startIndex = React.useMemo(() => {
                const idx = data.findIndex(d => d.giorno >= seiMesiFa());
                return idx === -1 ? 0 : idx;
            }, [data]);

            const toggleLinea = (linea) => {
                setVisibili(prev => ({...prev, [linea]: !prev[linea]}));
            };

            return (
                <div className="flex-column gap-1">
                    <div className="flex gap-1 filter">
                        <Filter line="follower" label={labels["follower"]} onClick={toggleLinea} visibile={visibili["follower"]}/>
                        <Filter line="visualizzazioni" label={labels["visualizzazioni"]} onClick={toggleLinea} visibile={visibili["visualizzazioni"]}/>
                        <Filter line="interazioni" label={labels["interazioni"]} onClick={toggleLinea} visibile={visibili["interazioni"]}/>
                    </div>

                    <ResponsiveContainer width="100%" height={400}>
                        <LineChart data={data} responsive>
                            <CartesianGrid/>
                            <Line hide={!visibili.follower} dataKey="follower" stroke="red" name="Followers"
                                  strokeWidth={2} isAnimationActive={false}/>
                            <Line hide={!visibili.interazioni} dataKey="interazioni" stroke="green"
                                  name="Interazioni" strokeWidth={2} isAnimationActive={false}/>
                            <Line hide={!visibili.visualizzazioni} dataKey="visualizzazioni" stroke="blue"
                                  name="Visualizzazioni" strokeWidth={2} isAnimationActive={false}/>
                            <XAxis
                                dataKey="giorno"
                                scale="time"
                                type="ParseInt"
                                domain={['dataMin', 'dataMax']}
                                tickFormatter={(data) => new Date(data).toLocaleDateString('it-IT', {
                                    day: '2-digit',
                                    month: '2-digit',
                                    year: 'numeric'
                                })}
                            />
                            <Brush
                                key={startIndex}
                                dataKey="giorno"
                                height={20}
                                stroke="var(--color-text-muted)"
                                travellerWidth={10}
                                startIndex={startIndex}
                                tickFormatter={(data) => new Date(data).toLocaleDateString('it-IT', {
                                    day: '2-digit',
                                    month: '2-digit',
                                    year: 'numeric'
                                })}
                            />
                            <YAxis mirror={useIsMobile()} />
                            <Tooltip labelFormatter={(date) => new Date(date).toLocaleDateString("it-IT")}/>
                            <Legend align="right"/>
                        </LineChart>
                    </ResponsiveContainer>
                </div>
            );
        }

        function SocialChart(props) {
            return (
                <div className="section transition rounded shadow flex-column gap-1">
                    <div className="flex-column gap-05">
                        <SocialTitle social={props.social}/>
                        <h4>Scorri la barra sotto al grafico per regolare lo zoom</h4>
                    </div>
                    <Chart social={props.social}/>
                </div>
            )
        }

        return (
            <div className="content flex-column gap-2 width-100">
                <Title title="Social Media" subtitle="Panoramica delle performance sui social media"/>

                <div className="flex-column gap-2">
                    <SocialChart social="Instagram"/>
                    <SocialChart social="Facebook"/>
                    <SocialChart social="Linkedin"/>
                </div>
            </div>
        )
    }

    function Admin({setLoading, setLoadingError}) {
        const timeout = 15000;
        const loadingRef = React.useRef(false);
        const refreshRef = React.useRef(null);

        const today = new Date().toISOString().split('T')[0];

        function SocialForm(props) {
            const [message, setMessage] = React.useState(null);
            const [error, setError] = React.useState(null);

            const sendForm = (e) => {
                e.preventDefault();
                setError("");
                setMessage("");

                fetch("/admin/add-dati-social", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        giorno: e.target.giorno.value,
                        visualizzazioni: e.target.visualizzazioni.value,
                        interazioni: e.target.interazioni.value,
                        follower: e.target.follower.value,
                        social: props.social
                    })
                })
                .then(res => {
                    if (res.ok) {
                        setMessage("Dati inseriti correttamente");
                        setTimeout(() => {
                            setMessage("")
                        }, timeout)
                        refreshRef.current?.();
                    } else {
                        res.text().then(text => {
                            setError(text);
                            setTimeout(() => {
                                setError("")
                            }, timeout)
                        })
                    }
                })
                .catch(err => {
                    setError("Errore di connessione al server");
                    setTimeout(() => {
                        setError("")
                    }, timeout)
                })
            }

            return (
                <div className="section transition rounded shadow flex-column gap-1">
                    <div className="flex-column gap-05">
                        <SocialTitle social={props.social}/>
                        <h4>Inserisci i dati giornalieri per {props.social}</h4>
                    </div>

                    <form name="adminForm" autoComplete="off" onSubmit={sendForm} className="flex-column gap-1">
                        <label> DATA
                            <input type="date" name="giorno" defaultValue={today} className="input width-100 rounded" required max={today}/>
                        </label>

                        <label> VISUALIZZAZIONI
                            <input type="ParseInt" name="visualizzazioni" defaultValue="0" min="0" className="input width-100 rounded" required/>
                        </label>

                        <label> INTERAZIONI
                            <input type="ParseInt" name="interazioni" defaultValue="0" min="0" className="input width-100 rounded" required/>
                        </label>

                        <label> NUOVI FOLLOWERS
                            <input type="ParseInt" name="follower" defaultValue="0" className="input width-100 rounded" required/>
                        </label>

                        <div className="width-fit flex-center gap-1">
                            <input type="submit" value="Salva Dati" className="submit pointer rounded padding-05-1" data-platform={props.social}/>
                            {message && <p className="message">{message}</p>}
                            {error && <p className="error">{error}</p>}
                        </div>
                    </form>
                </div>
            )
        }

        function RassegnaForm() {
            const [message, setMessage] = React.useState(null);
            const [error, setError] = React.useState(null);
            const [file, setFile] = React.useState(null);
            const ok = React.useRef(false);
            const intervalRef = React.useRef(null);
            const fileInputRef = React.useRef(null);  // ← aggiunto

            const resetFile = () => {
                setFile(null);
                // Resetta il DOM dell'input — senza questo il browser
                // non scatena onChange se riselezioni lo stesso file
                if (fileInputRef.current) {
                    fileInputRef.current.value = '';
                }
            };

            setLoadingError(false);

            const handleFiles = (files) => {
                if (files.length > 0) {
                    setFile(files[0]);
                }
            };

            const handleDrop = (e) => {
                e.preventDefault();
                handleFiles(e.dataTransfer.files);
            };

            const handleChange = (e) => {
                setMessage("");
                setError("");
                handleFiles(e.target.files);
            };

            const startPolling = () => {
                intervalRef.current = setInterval(() => {
                    fetch("/status")
                        .then(res => res.json())
                        .then(data => {
                            if (data.done && !data.error) {
                                setLoading(false);
                                loadingRef.current = false;

                                clearInterval(intervalRef.current);
                                intervalRef.current = null;

                                if (ok.current) {
                                    setMessage("Dati inseriti correttamente");
                                    setTimeout(() => {
                                        setMessage("");
                                    }, timeout);
                                }

                                refreshRef.current?.();
                                refreshManager.trigger();  // ← aggiunto
                            }
                            if (data.done && data.error) {
                                loadingRef.current = false;
                                clearInterval(intervalRef.current);
                                intervalRef.current = null;

                                setLoadingError(true);

                                setTimeout(() => {
                                    setLoadingError(false);
                                    setLoading(false);
                                }, timeout);
                            }
                        })
                        .catch(() => {
                            setLoading(false);
                            loadingRef.current = false;

                            clearInterval(intervalRef.current);
                            intervalRef.current = null;

                            refreshRef.current?.();
                            refreshManager.trigger();  // ← aggiunto
                        });
                }, 800);
            };

            const sendForm = (e) => {
                e.preventDefault();

                setMessage("");
                setError("");
                ok.current = false;

                const formData = new FormData(e.target);

                setLoading(true);
                loadingRef.current = true;

                fetch("/admin/add-rassegna", {
                    method: 'POST',
                    body: formData
                })
                .then(res => {
                    if (res.ok) {
                        resetFile();
                        document.getElementById('data').value = today;
                        ok.current = true;
                        startPolling();
                    } else {
                        res.text().then(text => {
                            setError(text);
                            setTimeout(() => {
                                setError("");
                            }, timeout);

                            setLoading(false);
                            loadingRef.current = false;
                        });
                    }
                })
                .catch(err => {
                    setError("Errore di connessione al server");
                    setTimeout(() => {
                        setError("");
                    }, timeout);

                    setLoading(false);
                    loadingRef.current = false;
                });
            }

            return (
                <div className="section transition rounded shadow flex-column gap-1">
                    <div>
                        <SectionTitle title="Carica rassegna stampa" i="fa-regular fa-file-lines"/>
                        <h4>Carica una rassegna stampa per estrarre automaticamente il numero di articoli</h4>
                    </div>

                    <form encType="multipart/form-data" className="flex-column gap-1" onSubmit={sendForm} autoComplete="off">
                        <label
                            className={"dropzone transition rounded flex-center width-100 pointer"}
                            onDrop={handleDrop}>
                            <input type="file" accept=".pdf" name="file" hidden onChange={handleChange} ref={fileInputRef}/>
                            <div className="dropzone-content flex-center flex-column gap-05">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                     viewBox="0 0 24 24" fill="none" stroke="#aaa" strokeWidth="1.5">
                                    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/>
                                    <polyline points="17 8 12 3 7 8"/>
                                    <line x1="12" y1="3" x2="12" y2="15"/>
                                </svg>
                                <p className="dropzone-title">{file ? `✅ ${file.name}` : "Trascina un file PDF qui"}</p>
                                <p className="dropzone-sub">oppure clicca per selezionare</p>
                            </div>
                        </label>

                        <label> DATA
                            <input type="date" name="giorno" defaultValue={today} className="input width-100 rounded" required max={today} id="data"/>
                        </label>

                        <div className="width-fit flex-center gap-1">
                            <input type="submit" value="Salva rassegna"
                                   className={`submit rounded padding-05-1 ${(file && !loadingRef.current) ? 'pointer' : 'disabled'}`}
                                   disabled={!file || loadingRef.current}
                            />
                            {message && <p className="message">{message}</p>}
                            {error && <p className="error">{error}</p>}
                        </div>
                    </form>
                </div>
            )
        }

        function EliminaRassegna({ registerRefresh }) {
            const [latestContent, setLatestContent] = React.useState(null);
            const [message, setMessage] = React.useState("");
            const [error, setError] = React.useState("");

            const [refreshKey, setRefreshKey] = React.useState(false);

            React.useEffect(() => {
                registerRefresh(() => {
                    setRefreshKey(k => !k)
                    setMessage("")
                    setError("")
                });
            }, []);

            React.useEffect(() => {
                fetch("/admin/latest")
                    .then(res => res.json())
                    .then(data => {
                        let content = [];

                        for (let element of data) {
                            content.push(<Item key={element.nome + element.giorno} nome={element.nome} giorno={element.giorno} tipo={element.tipo} />)
                        }

                        setLatestContent(content);
                    })
                    .catch(err => console.error('Errore nel caricamento dei dati: ' + err));
            }, [message, refreshKey]);

            const del = (nome, giorno, tipo) => {
                setMessage("");
                setError("");
                fetch("/admin/delete", {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        'giorno': giorno,
                        'nome': nome,
                        'tipo': tipo,
                    })
                }).then(res => {
                    if (res.ok) {
                        setMessage("Dati eliminati correttamente");
                        setTimeout(() => {
                            setMessage("")
                        }, timeout)
                    } else {
                        res.text().then(text => {
                            setError(text);
                            setTimeout(() => {
                                setError("")
                            }, timeout)
                        });
                    }
                })
                .catch(err => {
                    setError("Errore di connessione al server");
                    setTimeout(() => {
                        setError("")
                    }, timeout)
                })
            }

            function Item(props) {
                return (
                    <div className="flex-center flex-between transition rounded width-100 bg-main padding-05-1">
                        <div className="width-66 flex">
                            <div className="width-50">
                                {(props.tipo === 'social') ? <SocialTitle social={props.nome}/> : <p>{props.nome}</p>}
                            </div>
                                <p className="width-50 flex-center">{new Date(props.giorno).toLocaleDateString('it-IT')}</p>
                        </div>

                        <a onClick={() => {del(props.nome, props.giorno, props.tipo)}}>
                            <div className="flex-center padding-1 pointer unselected rounded transition width-fit">
                                <i className="fa-solid fa-trash"></i>
                            </div>
                        </a>
                    </div>
                )
            }

            return(
                <div className="section flex-column gap-1 rounded transition shadow">
                    <div className="flex">
                        <div className="flex flex-center">
                            <SectionTitle title="Elimina gli ultimi dati caricati" i="fa-regular fa-pen-to-square"/>
                            {message && <p className="message">{message}</p>}
                            {error && <p className="error">{error}</p>}
                        </div>
                    </div>
                    {latestContent}
                </div>
            )
        }

        function ControlloTestate() {
            const [testate, setTestate] = React.useState([]);
            const [confermato, setConfermato] = React.useState(false);
            const [error, setError] = React.useState("");

            React.useEffect(() => {
                setConfermato(false);
                fetch(`/admin/testate`)
                    .then(res => res.json())
                    .then(data => setTestate(data))
                    .catch(err => console.error('Errore nel caricamento delle testate: ' + err))
            }, [confermato]);

            const confermaTestata = (nome, scala, importanza) => {
                fetch("/admin/conferma", {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        nome: nome,
                        scala: scala,
                        importanza: importanza
                    })
                })
                .then(res => {
                    if (res.ok) {
                        setConfermato(true);
                    } else {
                        res.text().then(text => {
                            setError(text);
                            setTimeout(() => {
                                setError("");
                            }, timeout);
                        })
                    }
                })
                .catch(err => {
                    setError("Errore di connessione al server");
                    setTimeout(() => {
                        setError("");
                    }, timeout);
                })
            }

            function Item(props) {
                const [editing, setEditing] = React.useState(false);
                const [scala, setScala] = React.useState(props.scala);
                const [importanza, setImportanza] = React.useState(props.importanza);

                return (
                    <div className="flex-center flex-between transition rounded width-100 bg-main padding-05-1">
                        <div className="width-25">
                            <p>{props.nome}</p>
                        </div>

                        <div className="width-25">
                            {editing
                                ? <select value={scala} onChange={e => setScala(e.target.value)} className="input rounded padding-05-1 bg-white">
                                    <option value="Locale">Locale</option>
                                    <option value="Nazionale">Nazionale</option>
                                    <option value="Internazionale">Internazionale</option>
                                  </select>
                                : <p>{scala}</p>
                            }
                        </div>

                        <div className="width-25">
                            {editing
                                ? <input
                                    type="number"
                                    min="0"
                                    max="10"
                                    step="1"
                                    value={importanza}
                                    onChange={e => setImportanza(e.target.value)}
                                    className="input rounded bg-white"
                                  />
                                : <p>{importanza}</p>
                            }
                        </div>

                        <div className="flex">
                            <a className="padding-1 transition flex-center pointer rounded unselected" onClick={() => confermaTestata(props.nome, scala, importanza)}>
                                <i className={`fa-solid ${editing ? 'fa-check' : 'fa-check'}`}></i>
                            </a>
                            <a className="padding-1 transition flex-center pointer rounded unselected" onClick={() => setEditing(!editing)}>
                                <i className="fa-solid fa-pen"></i>
                            </a>
                        </div>
                    </div>
                )
            }

            return (
                <div className="section rounded shadow flex-column gap-1">
                    <div>
                        <div className="flex gap-1">
                            <SectionTitle title="Verifica testate" i="fa-solid fa-file-pen" />
                            <p className="error">{error}</p>
                        </div>

                        <h4>Le testate sono valutate in automatico tramite un'intelligenza artificiale, è necessario verificare che i dati siano corretti.</h4>
                    </div>

                    <div>
                        <p className="secondary">Di seguito sono riportate per ogni testata la scala e il grado di importanza (calcolato da 0 a 10), esempi di valutazione: </p>
                        <ul className="padding-05-1 secondary flex-column gap-05">
                            <li>ANSA: 10</li>
                            <li>Il Messaggero: 8</li>
                            <li>Gazzetta di Modena: 6</li>
                            <li>24Emilia: 4</li>
                        </ul>
                    </div>

                    <div className="flex-column gap-05">
                        {testate.map((testata) =>
                            <Item key={testata.nome} nome={testata.nome} scala={testata.scala} importanza={testata.importanza} />
                        )}
                    </div>
                </div>
            )
        }

        return (
            <div className="content flex-column gap-2 width-100">
                <Title title="Amministrazione" subtitle="Aggiungi dati social e carica rassegne stampa"/>

                <SocialForm social="Instagram"/>
                <SocialForm social="Facebook"/>
                <SocialForm social="Linkedin"/>
                <RassegnaForm/>
                <EliminaRassegna registerRefresh={(fn) => refreshRef.current = fn}/>
                <ControlloTestate />
            </div>
        )
    }

    function Index() {
        const colori = ["blue", "green", "red", "orange", "purple", "pink", "yellow", "black"];
        const [data, setData] = React.useState([]);
        const [temi, setTemi] = React.useState([]);
        const [temiVisibiliIniziali, setTemiVisibiliIniziali] = React.useState([]);
        const [refreshKey, setRefreshKey] = React.useState(0);  // ← aggiunto

        const cursor_style = { cursor: "pointer" };

        React.useEffect(() => {
            return refreshManager.subscribe(setRefreshKey);
        }, []);

        const startIndex = data.findIndex(d => d.giorno >= seiMesiFa());

        React.useEffect(() => {
            fetch('/index/all-rassegne')
                .then(res => res.json())
                .then((data) => setData(data.map(d => ({...d, giorno: new Date(d.giorno).getTime()}))))
                .catch(err => console.error('Errore nel caricamento dei dati: ' + err))
        }, [refreshKey]);

        React.useEffect(() => {
            fetch(`/index/all-temi`)
                .then(res => res.json())
                .then(data => {
                    data.push("Totale");
                    setTemi(data);

                    const temi_iniziali = {};
                    data.forEach((tema => temi_iniziali[tema] = false))
                    temi_iniziali["Totale"] = true;
                    setTemiVisibiliIniziali(temi_iniziali);
                })
                .catch(err => console.error('Errore nel caricamento dei temi' + err))
        }, []);

        function FilterContainer({toggleLineaTemi, temiVisibili}){
            return(
                <div className="flex gap-1 filter">
                    {temi.filter(tema => tema !== "Totale").map(tema =>
                        <Filter key={tema} line={tema} label={tema} onClick={toggleLineaTemi} visibile={temiVisibili[tema]}/>
                    )}
                </div>
            )
        }

        function Chart1({ refreshKey }) {
            const [temiVisibili, setTemiVisibili] = React.useState(temiVisibiliIniziali);

            const toggleLineaTemi = (linea) => {
                setTemiVisibili(prev => {
                    const updated = {
                        ...prev,
                        [linea]: !prev[linea]
                    };

                    const esisteAttivo = temi.some(
                        tema => tema !== "Totale" && updated[tema]
                    );
                    updated["Totale"] = !esisteAttivo;

                    return updated;
                });
            };

            return (
                <div className="flex-column gap-1">
                    <FilterContainer toggleLineaTemi={toggleLineaTemi} temiVisibili={temiVisibili}/>
                    <ResponsiveContainer width="100%" height={400}>
                        <LineChart
                            data={data}
                            style={cursor_style}
                            onClick={(chartData) => {
                                if (!chartData || !chartData.activePayload || chartData.activePayload.length === 0) return;

                                const payload = chartData.activePayload[0].payload;
                                const giorno = new Date(payload.giorno).toISOString().split('T')[0];
                                const URL = "/general/file?data=" + giorno;
                                window.open(URL, '_blank');
                            }}
                        >
                            <CartesianGrid/>
                            {temi.map((tema, i) =>
                                <Line
                                    hide={!temiVisibili[tema]}
                                    dataKey={tema}
                                    stroke={colori[i]}
                                    name={tema}
                                    strokeWidth={2}
                                    isAnimationActive={false}
                                />
                            )}
                            <XAxis
                                dataKey="giorno"
                                scale="time"
                                type="ParseInt"
                                domain={['dataMin', 'dataMax']}
                                tickFormatter={(data) => new Date(data).toLocaleDateString('it-IT', {
                                    day: '2-digit',
                                    month: '2-digit',
                                    year: 'numeric'
                                })}
                            />
                            <Brush
                                dataKey="giorno"
                                height={20}
                                stroke="var(--color-text-muted)"
                                travellerWidth={10}
                                startIndex={startIndex}
                                tickFormatter={(data) => new Date(data).toLocaleDateString('it-IT', {
                                    day: '2-digit',
                                    month: '2-digit',
                                    year: 'numeric'
                                })}
                            />
                            <YAxis mirror={useIsMobile()}/>/>
                            <Tooltip labelFormatter={(date) => new Date(date).toLocaleDateString("it-IT")}/>
                            <Legend align="right" />
                        </LineChart>
                    </ResponsiveContainer>
                </div>
            );
        }

        function Chart2({ refreshKey }){
            const [scale, setScale] = React.useState([]);
            const [data, setData] = React.useState([]);
            const [temiVisibili, setTemiVisibili] = React.useState(temiVisibiliIniziali);

            React.useEffect(() => {
                fetch('/index/all-scale')
                    .then(res => res.json())
                    .then((data) => setScale(data))
                    .catch(err => console.error('Errore nel caricamento dei dati: ' + err))
            }, []);

            React.useEffect(() => {
                fetch('/index/all-rassegne-per-scala')
                    .then(res => res.json())
                    .then((data) => setData(data.map(d => ({...d, giorno: new Date(d.giorno).getTime()}))))
                    .catch(err => console.error('Errore nel caricamento dei dati: ' + err))
            }, []);

            const toggleLineaTemi = (linea) => {
                setTemiVisibili(prev => ({...prev, [linea]: !prev[linea]}));
            };

            const dataFiltrata = data.map(row => {
                const nuovo = { giorno: row.giorno };

                scale.forEach(scala => {
                    const datiScala = row[scala];

                    if (!datiScala) {
                        nuovo[scala] = 0;
                        return;
                    }

                    let valore = 0;

                    const temiAttivi = Object.keys(temiVisibili).filter(
                        t => t !== "Totale" && temiVisibili[t]
                    );

                    if (temiAttivi.length === 0) {
                        valore = datiScala.totale;
                    } else {
                        temiAttivi.forEach(tema => {
                            valore += datiScala[tema] || 0;
                        });
                    }

                    nuovo[scala] = valore;
                });

                return nuovo;
            });

            return(
                <div className="flex-column gap-1">
                    <FilterContainer toggleLineaTemi={toggleLineaTemi} temiVisibili={temiVisibili}/>
                    <ResponsiveContainer width="100%" height={400}>
                        <LineChart
                            data={dataFiltrata}
                            style={cursor_style}
                            onClick={(chartData) => {
                                if (!chartData || !chartData.activePayload || chartData.activePayload.length === 0) return;

                                const payload = chartData.activePayload[0].payload;
                                const giorno = new Date(payload.giorno).toISOString().split('T')[0];
                                const URL = "/general/file?data=" + giorno;
                                window.open(URL, '_blank');
                            }}
                        >
                            <CartesianGrid/>
                            {scale.map((scala, i) =>
                                <Line dataKey={scala} stroke={colori[i]} name={scala} strokeWidth={2} isAnimationActive={false}/>
                            )}
                            <XAxis
                                dataKey="giorno"
                                scale="time"
                                type="ParseInt"
                                domain={['dataMin', 'dataMax']}
                                tickFormatter={(data) => new Date(data).toLocaleDateString('it-IT', {
                                    day: '2-digit',
                                    month: '2-digit',
                                    year: 'numeric'
                                })}
                            />
                            <Brush
                                dataKey="giorno"
                                height={20}
                                stroke="var(--color-text-muted)"
                                travellerWidth={10}
                                startIndex={startIndex}
                                tickFormatter={(data) => new Date(data).toLocaleDateString('it-IT', {
                                    day: '2-digit',
                                    month: '2-digit',
                                    year: 'numeric'
                                })}
                            />
                            <YAxis mirror={useIsMobile()}/>/>
                            <Tooltip labelFormatter={(date) => new Date(date).toLocaleDateString("it-IT")}/>
                            <Legend align="right" />
                        </LineChart>
                    </ResponsiveContainer>
                </div>
            )
        }

        function Chart3({ refreshKey }){
            const [temiVisibili, setTemiVisibili] = React.useState(temiVisibiliIniziali);
            const [testate, setTestate] = React.useState([]);
            const [data, setData] = React.useState([]);

            React.useEffect(() => {
                fetch('/index/all-testate-importanti')
                    .then(res => res.json())
                    .then((data) => setTestate(data))
                    .catch(err => console.error('Errore nel caricamento dei dati: ' + err))
            }, []);

            React.useEffect(() => {
                fetch('/index/all-rassegne-per-testata')
                    .then(res => res.json())
                    .then((data) => setData(data.map(d => ({...d, giorno: new Date(d.giorno).getTime()}))))
                    .catch(err => console.error('Errore nel caricamento dei dati: ' + err))
            }, []);

            const toggleLineaTemi = (linea) => {
                setTemiVisibili(prev => ({...prev, [linea]: !prev[linea]}));
            };

            const dataFiltrata = data.map(row => {
                const nuovo = { giorno: row.giorno };

                const temiAttivi = Object.keys(temiVisibili)
                    .filter(t => t !== "Totale" && temiVisibili[t]);

                testate.forEach(testata => {
                    const datiTestata = row[testata];

                    if (!datiTestata) {
                        nuovo[testata] = 0;
                        return;
                    }

                    if (temiAttivi.length === 0) {
                        nuovo[testata] = datiTestata.totale || 0;
                    }
                    else {
                        let somma = 0;

                        temiAttivi.forEach(tema => {
                            somma += datiTestata[tema] || 0;
                        });

                        nuovo[testata] = somma;
                    }
                });

                return nuovo;
            });

            return(
                <div className="flex-column gap-1">
                    <FilterContainer toggleLineaTemi={toggleLineaTemi} temiVisibili={temiVisibili}/>
                    <ResponsiveContainer width="100%" height={400}>
                        <LineChart
                            data={dataFiltrata}
                            style={cursor_style}
                            onClick={(chartData) => {
                                if (!chartData || !chartData.activePayload || chartData.activePayload.length === 0) return;

                                const payload = chartData.activePayload[0].payload;
                                const giorno = new Date(payload.giorno).toISOString().split('T')[0];
                                const URL = "/general/file?data=" + giorno;
                                window.open(URL, '_blank');
                            }}
                        >
                            <CartesianGrid/>
                            {testate.map((testata, i) =>
                                <Line key={testata} dataKey={testata} stroke={colori[i]} name={testata} strokeWidth={2} isAnimationActive={false}/>
                            )}
                            <XAxis
                                dataKey="giorno"
                                scale="time"
                                type="ParseInt"
                                domain={['dataMin', 'dataMax']}
                                tickFormatter={(data) => new Date(data).toLocaleDateString('it-IT', {
                                    day: '2-digit',
                                    month: '2-digit',
                                    year: 'numeric'
                                })}
                            />
                            <Brush
                                dataKey="giorno"
                                height={20}
                                stroke="var(--color-text-muted)"
                                travellerWidth={10}
                                startIndex={startIndex}
                                tickFormatter={(data) => new Date(data).toLocaleDateString('it-IT', {
                                    day: '2-digit',
                                    month: '2-digit',
                                    year: 'numeric'
                                })}
                            />
                            <YAxis mirror={useIsMobile()}/>/>
                            <Tooltip labelFormatter={(date) => new Date(date).toLocaleDateString("it-IT")}/>
                            <Legend align="right" />
                        </LineChart>
                    </ResponsiveContainer>
                </div>
            )
        }

        function RassegnaItem({giorno, nome, numero_articoli, snippet}) {
            const URL = "/general/file?data=" + giorno;
            const snippetHtml = { __html: snippet };  // ← estrai qui

            return (
                <div className="flex-column transition rounded width-100 bg-main padding-05-1">
                    <div className="flex-between flex-center">
                        <div className="width-66 flex">
                            <p className="width-50">{nome}</p>
                            <p id="date-list-item" className="width-50 flex-center">{giorno}</p>
                        </div>

                        <div className="flex">
                            <a className="padding-1 transition flex-center pointer rounded unselected" href={URL} download><i className="fa-solid fa-download"></i></a>
                            <a className="padding-1 transition flex-center pointer rounded unselected" href={URL} target="_blank" rel="noreferrer"><i className="fa-solid fa-eye"></i></a>
                        </div>
                    </div>
                    { snippet && <p className="secondary width-100" dangerouslySetInnerHTML={snippetHtml}></p> }
                </div>
            )
        }

        function RicercaRassegne () {
            const [value, setValue] = React.useState("");
            const [error, setError] = React.useState(null);
            const [content, setContent] = React.useState(null);

            const handleChange = (e) => {
                setValue(e.target.value);
                const parsed = parseDateInput(e.target.value);

                if (!parsed.valid && e.target.value.length > 0) {
                    fetch(`/index/search-rassegne?q=${e.target.value}` )
                    .then(res => res.json())
                    .then((data) => {
                        setError(null);

                        let dataComponents = [];
                        for (let cur of data) {
                            dataComponents.push(<RassegnaItem key={cur.giorno} giorno={new Date(cur.giorno).toLocaleDateString('it-IT')} nome={cur.nome_file} numero_articoli={cur.numero_articoli} snippet={cur.snippet}/>);
                        }
                        setContent(dataComponents);
                    })
                    .catch((err) => {
                        setError('Errore nella ricerca');
                        console.error(err);
                    })
                } else if (parsed.valid) {
                    setError(null);
                    const filteredRassegne = filterData(data, parsed);

                    let dataComponents = [];
                    for (let i in filteredRassegne) {
                        let cur = filteredRassegne[i];
                        dataComponents.push(<RassegnaItem key={cur.giorno} giorno={new Date(cur.giorno).toLocaleDateString('it-IT')} nome={cur.nome_file} numero_articoli={cur.numero_articoli}/>);
                    }
                    setContent(dataComponents);
                }
                else {
                    setError(null);
                    setContent([]);
                }
            };

            function parseDateInput(value) {
                const regex = /^(?:(\d{4})|((0?[1-9]|1[0-2])\/(\d{4}))|((0?[1-9]|[12]\d|3[01])\/(0?[1-9]|1[0-2])\/(\d{4})))$/;

                if (!regex.test(value))
                    return {valid: false};

                const parts = value.split("/");

                if (parts.length === 1) {
                    return {
                        valid: true,
                        year: parseInt(parts[0]),
                        month: null,
                        day: null,
                    };
                }

                if (parts.length === 2) {
                    return {
                        valid: true,
                        year: parseInt(parts[1]),
                        month: parseInt(parts[0]),
                        day: null,
                    };
                }

                if (parts.length === 3) {
                    const day = parseInt(parts[0]);
                    const month = parseInt(parts[1]);
                    const year = parseInt(parts[2]);

                    const date = new Date(year, month - 1, day);
                    const isRealDate =
                        date.getFullYear() === year &&
                        date.getMonth() === month - 1 &&
                        date.getDate() === day;

                    return {
                        valid: isRealDate,
                        year,
                        month,
                        day,
                    };
                }

                return {valid: false};
            }

            function filterData(data, parsedInput) {
                return data.filter(item => {
                    const fileDate = new Date(item.giorno).toLocaleDateString("it-IT").split("/");

                    if (parsedInput.year && !parsedInput.month && !parsedInput.day) {
                      return parseInt(fileDate[2]) === parsedInput.year;
                    }

                    if (parsedInput.year && parsedInput.month && !parsedInput.day) {
                      return (
                        parseInt(fileDate[2]) === parsedInput.year &&
                        parseInt(fileDate[1]) === parsedInput.month
                      );
                    }

                    if (parsedInput.year && parsedInput.month && parsedInput.day) {
                      return (
                        parseInt(fileDate[2]) === parsedInput.year &&
                        parseInt(fileDate[1]) === parsedInput.month &&
                        parseInt(fileDate[0]) === parsedInput.day
                      );
                    }
                });
            }

            return (
                <div className="section transition rounded width-100 shadow flex-column gap-1">
                    <div>
                        <SectionTitle title="Cerca rassegne stampa" i="fa-regular fa-file-lines"/>
                        <h4>Cerca per parola chiave o per data (AAAA o MM/AAAA o GG/MM/AAAA)</h4>
                    </div>

                    <div className="flex-center flex-between width-100 rounded padding-05-1 input">
                        <div className="flex-center width-80">
                            <i className="fa-solid fa-magnifying-glass color-primary"></i>
                            <input type="text" id="cerca"
                                   placeholder="Inserisci la data o la parola chiave..."
                                   value={value}
                                   onChange={handleChange}
                                   className="width-100"
                                   autoComplete="off"
                            />
                        </div>

                        {error && <p className="error">{error}</p>}
                    </div>

                    <div className="flex-center flex-column gap-1 width-100">
                        {!error && content}
                    </div>
                </div>
            )
        }

        return (
            <div className="content flex-column gap-2">
                <Title title="Rassegna stampa" subtitle="Gestione e analisi delle rassegne stampa"/>

                <div className="section transition rounded shadow flex-column gap-1">
                    <div>
                        <SectionTitle title="Numero articoli per tema" i="fa-solid fa-arrow-up-1-9"/>
                        <h4>Scorri la barra sotto al grafico per regolare lo zoom</h4>
                    </div>
                    <Chart1 refreshKey={refreshKey}/>
                </div>

                <div className="section transition rounded shadow flex-column gap-1">
                    <div>
                        <SectionTitle title="Numero articoli per scala" i="fa-solid fa-arrow-up-1-9"/>
                        <h4>Scorri la barra sotto al grafico per regolare lo zoom</h4>
                    </div>
                    <Chart2 refreshKey={refreshKey}/>
                </div>

                <div className="section transition rounded shadow flex-column gap-1">
                    <div>
                        <SectionTitle title="Numero articoli per testata più importante" i="fa-solid fa-arrow-up-1-9"/>
                        <h4>Scorri la barra sotto al grafico per regolare lo zoom</h4>
                    </div>
                    <Chart3 refreshKey={refreshKey}/>
                </div>
                <RicercaRassegne />
            </div>
        )
    }

    function Footer({error}){
        return(
            <div className={`footer width-100 ${(error) ? 'footer-error' : ''}`}>
                <div className="width-fit flex-center color-white gap-1">
                    {!error && <i className="fa-solid fa-circle-notch icona-spin"></i>}
                    {!error && <h3>La rassegna stampa inserita è in fase di elaborazione . . .</h3>}
                    {error && <i class="fa-solid fa-triangle-exclamation"></i>}
                    {error && <h3>Non è stato possibile processare la rassegna stampa, riprovare . . .</h3>}
                </div>
            </div>
        );
    }

    const errorManager = {
        value: false,
        listeners: new Set(),
        set(val) {
            this.value = val;
            this.listeners.forEach(fn => fn(val));
        },
        subscribe(fn) {
            this.listeners.add(fn);
            return () => this.listeners.delete(fn);
        }
    };

    const loadingManager = {
        value: false,
        listeners: new Set(),
        set(val) {
            this.value = val;
            this.listeners.forEach(fn => fn(val));
        },
        subscribe(fn) {
            this.listeners.add(fn);
            return () => this.listeners.delete(fn);
        }
    };

    const refreshManager = {
        value: 0,
        listeners: new Set(),
        trigger() {
            this.value += 1;
            this.listeners.forEach(fn => fn(this.value));
        },
        subscribe(fn) {
            this.listeners.add(fn);
            return () => this.listeners.delete(fn);
        }
    };

    function ManagedFooter() {
        const [isVisible, setIsVisible] = React.useState(loadingManager.value);
        const [error, setError] = React.useState(errorManager.value)

        React.useEffect(() => {
            // Sottoscrizione a entrambi i manager
            const unsubscribeLoading = loadingManager.subscribe(setIsVisible);
            const unsubscribeError = errorManager.subscribe(setError);

            // Funzione di cleanup che le esegue entrambe quando il componente viene smontato
            return () => {
                unsubscribeLoading();
                unsubscribeError();
            };
        }, []);

        return isVisible ? <Footer error={error}/> : null;
    }

    function App() {
        const setLoading = (val) => loadingManager.set(val);
        const setLoadingError = (val) => errorManager.set(val);
        const setRefresh = (val) => refreshManager.set(val);

        return (
            <BrowserRouter>
                <NavBar/>
                <Routes>
                    <Route path="/" element={<Index/>}></Route>
                    <Route path="/admin" element={<Admin setLoading={setLoading} setLoadingError={setLoadingError}/>}></Route>
                    <Route path="/social" element={<Social/>}></Route>
                </Routes>
                <ManagedFooter/>
            </BrowserRouter>
        )
    }

    const root = createRoot(document.getElementById("root"));
    root.render(<App/>);
</script>
</body>
</html>