<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
        <script type="importmap">
            {
                "imports": {
                    "react": "https://esm.sh/react@19",
                    "react-dom/client": "https://esm.sh/react-dom@19/client"
                }
            }
        </script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script src="https://kit.fontawesome.com/18cb25cb8a.js" crossorigin="anonymous"></script>
    </head>
    <body id="root">
        <script data-type="module" type="text/babel">
            import React from "react"
	        import {createRoot} from "react-dom/client";

            function NavItem(props) {
                return (
                    <a class={"navbar-item navbar-choice " + (("{{ active_page }}" === props.title) ? "selected" : "unselected")} href={props.url}>
                        {props.icon}
                        <h2>{props.title}</h2>
                    </a>
                );
            }

            function NavBar() {
                let title = "{{ active_page }}";

                return (
                    <div class="navbar">
                        <div class="left">
                            <div class="background-red navbar-item"><i class="fa-solid fa-chart-column color-white"></i></div>
                            <h1>{title}</h1>
                        </div>

                        <div class="right">
                            <NavItem title="Social Media" icon={<i class="fa-solid fa-chart-column"></i>} url="/social"/>
                            <NavItem title="Rassegna stampa" icon={<i class="fa-regular fa-file-lines"></i>} url="/index"/>
                            <NavItem title="Amministrazione" icon={<i class="fa-solid fa-plus"></i>} url="/admin2"/>
                        </div>
                    </div>
                )
            }

            const root = createRoot(document.getElementById("root"));
            root.render(<NavBar/>);
        </script>

        {% block content %}

        {% endblock %}
    </body>
</html>